:root {
    --primary-color: #333348;
    --text-color-primary: #fff;
    --text-color-secondary: #ccc;
    --text-color-tertiary: #999;
    --text-color-primary-hover: #303030;
    --text-color-secondary-hover: #444;
    --text-color-tertiary-hover: #555;
}

body {
    user-select: none;
    -webkit-user-select: none;
    background-color: rgb(14, 14, 20);
    color: white;
    font-family: Arial;
    display: grid;
    grid-template-rows: auto 1fr auto;
    height: 100vh;
    padding: 0;
    margin: 0;
    overflow: hidden;
    box-sizing: border-box;
}

input:focus {
    outline: none;
}

a {
    color: #e3e3e3;
}

a:active,
a:focus {
    outline: 0;
    border: none;
}

.btn {
    padding: 1rem 2rem;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    margin: 0.2rem;
    cursor: pointer;
    line-height: 2.5rem;
    min-width: 5rem;
    width: 50%;
    background-color: var(--primary-color);
    border: none;
    color: #fff;
    font-size: 1.3rem;
    transition: background-color 0.3s ease-in-out;
    box-sizing: border-box;
    position: relative;
    border-radius: 50px;
    padding: 1rem 2rem;
}

.btn::before {
    content: '';
    position: absolute;
    top: 10%;
    left: 10%;
    width: 80%;
    height: 80%;
    background: rgba(255, 255, 255, 0.3);
    border-radius: 50%;
    filter: blur(10px);
    z-index: -1;
}

.btn::after {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    width: 100%;
    height: 100%;
    background: rgba(255, 255, 255, 0.2);
    border-radius: 50%;
    transform: translate(-50%, -50%) scale(1.2);
    filter: blur(20px);
    z-index: -2;
}

.btn:hover {
    background-color: #c2c2c2;
    color: #303030;
}

#payloads-view {
    display: grid !important;
    grid-template-columns: repeat(2, minmax(0, 1fr));
    grid-auto-rows: auto;
    column-gap: 4rem;
    row-gap: 1rem;
    padding: 0 3rem 3rem 3rem;
    overflow-y: scroll;
    overflow-x: hidden;
    box-sizing: border-box;
    align-content: start;
}

#payloads-view .btn {
    width: 100% !important;
}
